.list {
  font-size: 20px;
}
.list-table-format{
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 0.5fr 0.3fr;
    align-items: center;
    gap: 10px;
    padding: 12px 15px;
    border: 1px solid #cacaca;
    font-size: 15px;
}
.title{
    background-color: #f9f9f9;
}
.list-table-format img{
    width: 60px;
}
.list-table-format input{
    accent-color: #338606;
}

.delete-icon{
    color: #802b06;
    font-size: 18px;
    cursor: pointer;
}

@media(max-width:600px){
    .list-table-format{
        grid-template-columns: 1fr 3fr 1fr 0.3fr;
        gap: 15px;
    }
    .title{
        display: none;
    }
}