.add{
    width: 70%;
    margin-left: max(5vw,25px);
    margin-top: 50px;
    color: #6d6d6d;
    font-size: 16px;
    font-weight: 600;
}
.add form{
    gap: 20px;
    box-shadow: 0px 10px 20px rgba(66, 64, 64, 0.673);
    width: 80%;
    margin: auto;
    align-items: center;
    padding: 30px;
}

.add-img-upload p{
    font-size: 18px;
    font-weight: 600;
}

.add-img-upload img{
    width: 120px;
   border-radius: 50%;
}
.add-img-upload label{
    border-radius: 50%;
    box-shadow: 0px 0px 10px rgba(66, 64, 64, 0.453);
}
.add-name, .add-description{
        width: max(70%,280px);
}
.add-name input, .add-description textarea{
    padding: 10px;
    font-size: 14px;

}
.add-category-price{
    display: flex;
    gap:30px
}
.add-category-price select, .add-category-price input{
    max-width: 200px;
    padding: 10px;
    font-size: 16px;
}
.add-btn{
    max-width: 120px;
    border: none;
    padding: 10px;
    background-color: #802b06;
    color: #fff;
    cursor: pointer;
    width: 70%;
    font-weight: bold;
}