.Order,.myOrders{
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 50px;
    margin-top: 100px;
    background-color: #fff;
    width: 95%;
    margin: auto;
  margin-top: -10%;
position: relative;
padding: 20px 40px;
border-radius: 10px;
}
.myOrders{
    flex-direction: column;
}
.order-left{
    width: 100%;
    max-width: max(30%,500px);
}
.order-left .title{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 50px;
}
.order-left input{
    margin-bottom: 15px;
    width: 100%;
    padding: 10px;
    border: 1px solid #8a2b06;
    border-radius: 4px;
    outline-color: #8a2b06;
}
.order-fields{
    display: flex;
    gap: 10px;
}
.order-right{
    width: 100%;
    max-width: max(40%, 500px);
}
.orderTotal{
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 20px;
}
.order-details{
    display: flex;
    justify-content: space-between;
    color: #555;
}
.orderTotal hr{
    margin: 10px 0px;
}
.orderTotal button, .button{
    border: none;
    color: white;
    background-color: #8a2b06;
    width: max(15vw, 200px);
    padding: 12px 0px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 600;
    font-size: 18px;
}
.orders-list{
    display: flex;
    flex-direction: column;
    gap: 20px;
   width: 90%;
   margin: auto;
}
.order-processing-item,.order-delivered-item,.order-cancel-item{
    display: flex;
    width: 100%;
    background-color: #8a2b06;
    padding: 1rem;
    border-radius: 20px;
    box-shadow: 0px 5px 20px #3e3c3c7a;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}
.order-processing-item{
    background-color: #844126;
}
.order-status,.orders-amount-date{
    background-color: #fff;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
    color: black;
    font-weight: 600;
    font-size: 14px;
}
.order-status img{
    width: 40px;
    height: 40px;
}
.cancelBtn{
    padding: 10px;
    background-color: #bc5757;
    border: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    color: #fff;
}
.wayBtn{
    padding: 10px;
    background-color: #9c8327;
    border: none;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
}
.order-names{
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 0px 10px;
 flex-wrap: wrap;
 width: 60%;
}

@media(max-width:700px){
    .order-status img{
        width: 30px;
        height: 30px;
    }
    .order-status,.orders-amount-date{
        padding: 6px;
        font-size: 11px;
    }
    .cancelBtn{
        padding: 6px;
        font-size: 13px;
  
    }
    .wayBtn{
        padding: 6px;
        font-size: 13px;
    }
    .order-names{
        margin: 0px 7px;
       font-size: 12px;
      }
      .myOrders{
        padding: 10px 10px;
      }
} 

@media(max-width:600px){
    .Order{
        flex-direction: column;
    }
}

@media(max-width:450px){
    .order-names {
        max-height: 100px; /* Adjust as needed */
        overflow-y: auto;
        margin-top: 10px;
        padding-right: 10px;
      }
      
      .order-names p {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .order-names::-webkit-scrollbar{
        display: none;
      }
}
.cancelBtn{
    
}

@media(max-width:350px){
.myOrders{
    padding: 0px 0px;
    width: 100%;
}
.orders-list{
    width: 100%;
}
}